body{
	background-image: url("/bg.jpg");
	background-size: cover;
}

a{
	color: #A5F;
}

.navbar-brand{
	font-size: 32px;
	font-weight: bold;
	font-family: 'Alatsi', sans-serif;
}

#logoF{
	color:  #A5F;
	padding: 5px;
	background-color: black;
}
#logoJ{
	color:  #A5F;
	padding: 5px;
	background-color: black;
}

.card{
	margin-top: 32px;
}

.container-fluid{
	padding-left: .75rem;
	padding-right: .75rem;
}

/* ul {
	list-style-type: none;
	padding: 0;
} */

.accordion-button:focus {
	border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 0 0 0 ;
}

.accordion-button.collapsed:focus {
	border-bottom: 0;
}

.accordion-button{
	color: black;
	background-color: #A5F;
}

.accordion-button:not(.collapsed){
	color: black;
	background-color: #A5F;
}

.accordion-button:not(.collapsed)::after{
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
/* rgb(170, 85, 255 */

ul{
	list-style-position: inside;
	padding: 0;

}

textarea{
	width: 100%;
	height: 250px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.accordion-body p:nth-child(odd){
	background: #CCC
}



/*************************for peg game*************************/
#peg-container span{
	padding: 0 35px 0 0;
}
.peg-hole{
	border-radius: 20px;
	border: none;

	color: #fff;
	background: #A5F;
	animation: none;

	margin: 2px;
	height: 38px;
	width: 38px;
}

/* .peg-hole:hover:not(:disabled){
	background: #6c757d;
} */

.peg-hole.empty{
	color: #A5F;
}

.peg-hole.possible{
	background: #6c757d;
	color: #6c757d;
}

.peg-hole:focus{
	outline:none;
}

.peg-hole.selected{
	box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0.25);
}

button.peg-hole:active{
	padding:0;
}